.navbar-brand {
	padding-top: 0px;
}
body {
	background-image: url("background.jpg");
}
.carousel-inner {
	padding-bottom: ;
}
.carousel-indicators {
	margin-bottom: 0;
	text-shadow: ;
}
#tooltip {
	padding-bottom: 0px;
}
#video-title {
	margin-top: 0px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	padding-top: 0px;
}
#youtube-video {
	margin-top: 20px;
}

@media only screen and (max-width: 480px) {
   #social {
      display: initial;
   }

}
