.navbar-brand {
	padding-top: 0px;
}
body {
	background-image: url("background.jpg");
}
.carousel-inner {
	padding-bottom: ;
}
.carousel-indicators {
	margin-bottom: 390px;
	text-shadow: ;
}
@media only screen and (max-width: 480px) {
   #social {
      display:;
      margin: 0px;
      padding: 0px;
   }
}
#tooltip {
	padding-bottom:0px;
	text-align:center;
}