.navbar-brand {
	padding-top: 0px;
}
body {
	background-image: url("background.jpg");
}
.carousel-inner {
	padding-bottom: ;
}
.carousel-indicators {
	margin-bottom: 0;
	text-shadow: ;
}
#tooltip {
	padding-bottom: 0px;
}
#youtube-title {
	margin:0;
	padding-bottom:10px;
	font-size: 50px;
}
#youtube-video {
	border-style: solid;
}
#Welcome {
	padding-top: 20px;
}

@media only screen and (max-width: 480px) {
   #social {
      display: initial;
   }
   #social-list {
      	list-style-type: none;
   		margin: 0;
   		padding: 0;
   		overflow: hidden;
	}
	#youtube-video {
		max-height: 300px;
	}
}
