.navbar-brand {
	padding-top: 0px;
}
body {
	background-color: #333333;
}
.carousel-inner {
	padding-bottom: ;
}
.carousel-indicators {
	margin-bottom: 0;
	text-shadow: ;
}
#tooltip {
	padding-bottom: 0px;
}
#youtube-title {
	margin:0;
	padding-bottom:10px;
	font-size: 30px;
}
#player {
	border-style: solid;
	border-color:#000000;
}
#Welcome {
	padding-top: 20px;
}
#build-list {
	list-style-type: none;
}

#myCarousel > .item {
	font-size: 10px;
}
#carousel-title {
	font-size: 15px;
}
#footer {
	background-color:#ffffff;
	border-radius:5px;
}
#copyright {
	width: 250px;
	height: 50px;
	
}

@media only screen and (max-width: 480px) {
   #social {
      display: initial;
   }
   #social-list {
      	list-style-type: none;
   		margin: 0;
   		padding: 0;
   		overflow: hidden;
	}
	#player {
		max-height: 150px;
	}
}
